allure-python-commons==2.15.3
allure-robotframework==2.15.3
attrs==25.4.0
click==8.3.1
colorama==0.4.6
grpcio==1.76.0
grpcio-tools==1.76.0
jsonpath-ng==1.7.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
natsort==8.4.0
overrides==7.7.0
pip==25.2
pluggy==1.6.0
ply==3.11
protobuf==6.33.2
psutil==7.2.1
PyYAML==6.0.3
referencing==0.37.0
robotframework==7.4.1
robotframework-assertion-engine==3.0.3
robotframework-browser==19.12.3
robotframework-jsonlibrary==0.5
robotframework-pythonlibcore==4.5.0
rpds-py==0.30.0
seedir==0.5.1
setuptools==80.10.2
typing-extensions==4.15.0
wrapt==2.0.1
